@keyframes fade-open {
 0% {
   opacity: 0;
   transform: scale(0);
 } 
 100% {
   transform: scale(1) translateY(-4rem);
   opacity: 1;
 }
}

@keyframes fade-close {
  0% {
    transform: translateY(-4rem);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(0);
    opacity: 0;
  }
}